<% if (auth == 1){  %>
<%- include("header_auth") -%>
<% }else{ %>
  <%- include("header") -%>
<%  }%>
<div class="about container">
  <h1 style="font-size: 70px;">Hello there!</h1>
  <img src="/me.png" class="avatar" alt="avatar">
  <div class="about-txt">
    <h4>Hi I'm Eisa! I designed this website as a beginners project to Node.js and backend development.</h4>
    <h4>I'm a Computer Science student and I'm always open to good ideas on how to upgrade my projects! So feel free to contact me:</h4>
    <div class="row row2">
      <div class="col-lg-6 col-md-12 col-sm-12 mid2">
        <a href="mailto:eisa.keramati@gmail.com"><img src="/mail.png" class="imwidth" alt="mail"></a>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 mid2">
        <a href="https://github.com/eisakeramati"><img src="github.png" class="imwidth" alt="github"></a>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
