<%- include("header") -%>
    <div class="err text-white bg-secondary">
      <img class="thim" src="/thund.png" alt="thunder">
      <h2>Oops! something wrong with the city name!</h2>
      <h2>Please try again.</h2>
    </div>
<%- include("footer") -%>
