<%- include("header") -%>
<div class="about container">
  <h1 style="font-size: 70px;">And How does this work?</h1>
    <div class="about-txt">
      <h4>The whole functionality of this website revolves around A free API from <a class="link" href="https://openweathermap.org/">OpenWeatherAPI</a>.</h4>
      <h4>This free API service sends data containing weather conditions to users in multiple formats.</h4>
      <h4>Processing and displaying the sent data is the service users' responsibility.</h4>
      <h4>For the frontend of this website I used the Bootstrap framework, and for the backend Node.js was used.</h4>
      <h4>Other packages and frameworks used for facilitating the backend development were: <a class="link" href="https://expressjs.com/">express</a>, <a class="link" href="https://ejs.co/">EJS</a> and etc.</h4>
      </div>
      <div class="row row2">
          <div class="col-lg-3 col-md-12 mid2">
            <img src="/node.png" class="imwidth" alt="node">
          </div>
          <div class="col-lg-3 col-md-12 mid2">
            <img src="/npm.png" class="imwidth" alt="node">
          </div>
          <div class="col-lg-3 col-md-12 mid2">
            <img src="/openw.png" class="imwidth" alt="node">
          </div>
          <div class="col-lg-3 col-md-12 mid2">
            <img src="/boots.png" class="imwidth2" alt="node">
          </div>
      </div>
</div>
<%- include("footer") -%>
