</div>
</div>
</div>
<div class="container">
<div class="row foot">
<div class="col-lg-6 col-md-6 col-sm-6 mid">
  <div class="card bg-secondary text-white mid" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Current Weather</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">You can get the current weather and conditions of any city around the world! Trust us with your weather forecast.</p>
    </div>
  </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 mid">
  <div class="card bg-secondary text-white mid" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">5 day feature</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">look for the forecast of the upcoming 5 days of your city all at one place. From a universal reliable source!</p>
    </div>
  </div>
</div>
</div>
</div>
<%- include("footer") -%>
