<%- include("header") -%>
<img class="img1" src="/cloud.png" alt="cloud">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h1>Get the weather</h1>
      <h1>of cities easily</h1>
      <h1>with <span class="wapp">WeatherApp!</span></h1>
    </div>
    <div class="col-lg-6 col-sm-12">
