

<%- include("header") -%>
<h1 style="text-align:center; margin-top: 80px;">Sign up with <span class="navbrand2">WeatherApp!</span></h1>
<form class="form w-50" style="margin-inline: auto" action="/register" method="post" >
    <div class="form-group ">
        <label for="exampleInputEmail1">email</label>
        <input name="username" class="form-control" placeholder="Enter email" >
        <label for="exampleInputEmail1">password</label>
        <input name="password" class="form-control" type="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
    <br>
    <a href="/auth">Already a member? click here to log in.</a>
</form>
<%- include("footer") -%>